{
  "extends": ["airbnb", "airbnb/hooks", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-props-no-spreading": 0,
    "no-unused-vars": 1
  },
  "env": {
    "browser": true,
    "jest": true
  }
}
